.bg {
    background-image: url(3963772f67ace0280c2df69a8040d2c7.jpg);
}
nav {
    background-color: black;
    border-radius: 30px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding: 20px 0px 20px 0px;
}
nav b {
    font-size: 20px;
    font-family: 'Courier New';
    color: white;
    padding: 0px 10px 0px 10px;
}
nav b:hover {
    color: green;
}
h1 {
    font-size: 90px;
    font-family: cursive;
    color: white;
    text-align: center;
    margin: 50px 0px 0px 0px;
}
h2 {
    font-size: 30px;
    font-family: cursive;
    color: white;
    text-align: center;
}
article {
    background-color: black;
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
}
article section a {
    color: yellow;
}
article section h3 {
    font-size: 50px;
    color: white;
}
article section b {
    font-size: 20px;
    font-family: 'Courier New';
    color: white;
}
footer {
    background-color: black;
}
footer div {
    color: white;
    text-align: right;
}
